* {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#inputN1 {
    display: flex;
    margin: 3px;
    padding: 6PX;
}

#inputN2 {
    display: flex;
    margin: 3px;
    padding: 6pX;
}

#btn {
    margin: 3px;
    padding: 7px;
}

.messageSuccess {
    background-color: greenyellow;
}